<footer class="bg-primary text-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <h3 class="text-lg font-semibold text-white">{{ appTitle }}</h3>
    <p class="mt-4 text-sm text-gray-300">
      Desafio desenvolvido para o Hackaton da pós-graduação Arquitetura e Desenvolvimento Java - 6ADJT (FIAP).

    <div class="mt-8 pt-8 border-t border-gray-700">
      <p class="text-sm text-gray-300 text-center">
        Copyright &copy; 2025 - {{ currentYear }} {{ appTitle }}
      </p>
    </div>
  </div>
</footer>
