<div class="absolute text-3xl font-semibold ms-2">
  <a class="button button-success" href="/login">
    Voltar
  </a>
</div>

<div class="flex items-center justify-center h-full">
  <div class="lg:w-1/2 flex flex-col justify-center">
    <div class="row">
      <div class="col">
        <div class="border border-zinc-300 h-[150px] w-full flex flex-col items-center justify-center cursor-pointer text-xl text-zinc-700 hover:border-primary"
        (click)="choose(userType.PATIENT)">
          <i class="fas fa-user"></i>
          <div class="text-center">
            Sou um paciente
          </div>
        </div>
      </div>
      <div class="col">
        <div class="border border-zinc-300 h-[150px] w-full flex flex-col items-center justify-center cursor-pointer text-xl text-zinc-700 hover:border-primary"
        (click)="choose(userType.PHARMACY)">
          <i class="fas fa-house-chimney-medical"></i>
          <div class="text-center">
            Sou uma farmácia
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
