<div class="p-4 bg-white rounded shadow-md font-medium">
  @if (title) {
    <div class="font-semibold">{{ title }}</div>
  }

  @if (buttons && buttons.length > 0) {
    <div class="flex mb-2">
      @for (button of buttons; track button.id) {
        <button class="button mr-2 w-auto h-auto px-2 py-1 text-sm flex items-center justify-between"
                [ngClass]="button.type === 'success' ? 'button-success' : button.type === 'danger' ? 'button-danger' : 'button-normal'"
                (click)="button.action(selectedRow)">
          @if (button.icon) {
            <i class="me-1" [ngClass]="button.icon"></i>
          }
          {{ button.label }}
        </button>
      }
    </div>
  }
  <div class="row">
    <div class="col"></div>
  </div>

  <table class="w-full table-auto border-collapse">
    <thead>
    <tr class="bg-gray-100">
      @for (col of columns; track col.id) {
        <th class="px-4 py-2 text-left font-semibold text-gray-700 uppercase tracking-wider">
          {{ col.header }}
        </th>
      }
    </tr>
    </thead>
    <tbody>
      @for (row of pagedRows; track $index) {
        <tr class="cursor-pointer hover:contrast-75" [ngClass]="selectedRow === row ? 'bg-theme-200' : 'bg-gray-50'"
            (click)="selectRow(row)">
          @for (col of columns; track col.id) {
            <td class="px-4 py-2 text-gray-800 border-t">
              {{ row[col.field] }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

  <div class="flex items-center justify-between mt-4 space-x-4 bg-zinc-100 p-2">

    <div class="w-[100px]">
      <button class="button button-outlined" [disabled]="currentPage === 1"
              (click)="goTo(currentPage - 1)">
        Anterior
      </button>
    </div>

    <!-- Input de Página -->
    <div class="flex items-center space-x-2">
      <span>Página</span>
      <input class="w-12 px-2 py-1 border focus:outline-none active:shadow-none text-center" [(ngModel)]="pageInput"
             [max]="totalPages" min="1" type="number" (keydown.enter)="onEnterPage()" (blur)="onEnterPage()"/>
      <span>de {{ totalPages }}</span>
    </div>

    <div class="w-[100px]">
      <button class="button button-outlined" [disabled]="currentPage === totalPages"
              (click)="goTo(currentPage + 1)">
        Próximo
      </button>
    </div>

  </div>
</div>
