<div class="absolute text-3xl font-semibold ms-2">
  <a class="button" href="/home">
    Voltar
  </a>
</div>

<div class="flex items-center justify-center h-full">
  <div class="w-1/3 flex flex-col justify-center" [formGroup]="form">
    <div class="flex justify-center">
      <img class="text-center" [ngSrc]="'fp.png'" width="100" height="100" alt="Farmácia Popular"/>
    </div>
    <app-input-text cssClass="w-full mt-2 border border-zinc-300" placeholder="Usuário" height="45px"
                    [formControl]="formControl('user')"
    ></app-input-text>
    <app-input-text cssClass="w-full mt-2 border border-zinc-300" placeholder="Senha" height="45px"
                    [formControl]="formControl('password')"
    ></app-input-text>
    <div class="button mt-2">
      Entrar
    </div>
    <a class="font-semibold text-theme-700 text-sm mt-2 text-end cursor-pointer hover:underline"
       href="/login/login_choose">
      Solicitar acesso
    </a>
  </div>
</div>
