<div class="absolute text-3xl font-semibold ms-2">
  <a class="button button-success" href="/login/login_choose">
    Voltar
  </a>
</div>

<div class="flex items-center justify-center h-full">
  <div class="w-1/2 lg:w-2/3 flex flex-col justify-center">
    <form [formGroup]="form" (submit)="submit()">
      <div class="w-full row g-0">
        <div class="col-12 col-md-6 mt-2 md:pe-1">
          <app-input-text cssClass="w-full border border-zinc-300" [placeholder]="documentPlaceholder" height="45px"
                          [formControl]="formControl('login')"
          ></app-input-text>
        </div>
        <div class="col-12 col-md-6 mt-2 md:ps-1">
          <app-input-text cssClass="w-full border border-zinc-300" [placeholder]="userPlaceholder" height="45px"
                          [formControl]="formControl('name')"
          ></app-input-text>
        </div>
        <div class="col-12 col-md-6 mt-2 md:pe-1">
          <app-input-text cssClass="w-full border border-zinc-300" placeholder="Senha" height="45px"
                          [formControl]="formControl('password')"
          ></app-input-text>
        </div>
        <div class="col-12 col-md-6 mt-2 md:ps-1">
          <app-input-text cssClass="w-full border border-zinc-300" placeholder="Confirmar senha" height="45px"
                          [formControl]="formControl('passwordConfirmation')"
          ></app-input-text>
        </div>
      </div>

      <button class="mt-2 button h-[45px]">
        Cadastrar
      </button>
    </form>
  </div>
</div>
