@if (gradient !== 'none') {
  <div [ngClass]="cssClass"
       class="md:p-[3px] bg-gradient-to-r md:from-theme-600 md:to-theme-400 md:focus-within:from-theme-700
       md:focus-within:to-theme-500 md:rounded-none-[20px]">
    <ng-container [ngTemplateOutlet]="inputTemplate"></ng-container>
  </div>
} @else {
  <ng-container [ngTemplateOutlet]="inputTemplate"></ng-container>
}

<ng-template #inputTemplate>
  <div [ngClass]="gradient === 'none' ? cssClass : 'md:border-none md:rounded-none-[17px]'" [style.height]="height"
       class="input-group bg-white">
    @if (icon) {
      <i [class]="icon"></i>
    }

    @if (formControl) {
      <input #inputElement [placeholder]="placeholder" class="form-control" [formControl]="formControl"
             (input)="onInput($event.target)" (blur)="onBlur()" [type]="type"/>
    }
  </div>
  @if (formControl.invalid && (formControl.dirty || formControl.touched)) {
    <div class="text-red-500 text-xs overflow-hidden text-ellipsis animate-fade -mt-[1px]">*{{ errorMessage }}</div>
  }
</ng-template>
