@if (gradient !== 'none') {
  <div [ngClass]="cssClass"
       class="md:p-[3px] bg-gradient-to-r md:from-theme-600 md:to-theme-400 md:focus-within:from-theme-700
       md:focus-within:to-theme-500 md:rounded-none-[20px]">
    <ng-container [ngTemplateOutlet]="inputTemplate"></ng-container>
  </div>
} @else {
  <ng-container [ngTemplateOutlet]="inputTemplate"></ng-container>
}

<ng-template #inputTemplate>
  <div [ngClass]="gradient === 'none' ? cssClass : 'md:border-none md:rounded-none-[17px]'" [style.height]="height"
       class="input-group bg-white">
    @if (icon) {
      <i [class]="icon"></i>
    }
    <input [ngModel]="value" (ngModelChange)="onChange($event)" (blur)="onTouched()" [disabled]="disabled"
           [placeholder]="placeholder" class="form-control">
  </div>
</ng-template>
