<div class="row h-full align-items-stretch">
  <div class="d-none lg:block col-md-6 bg-primary text-white relative">
    <div class="h-full flex flex-col justify-center items-center space-y-2 p-8 w-full overflow-x-hidden">
      <div>
        <div class="text-center text-4xl uppercase">FarmaSUS</div>
        <div class="flex flex-col gap-2 font-mono h-[28px] text-center w-auto text-sm xl:text-lg">
          @if (resetTerminalLine) {
            <div class="whitespace-nowrap overflow-hidden border-r-2 border-white animate-typing break-words">
              {{ currentLine }}
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 py-2 relative flex">
    <router-outlet></router-outlet>
  </div>
</div>
